# Python
__pycache__/
*.pyc
venv/
.venv/
.env

# FastAPI
*.log

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/

# Android
android/.gradle/
android/local.properties
android/**/build/

# Windows / macOS
Thumbs.db
.DS_Store

# IDEs
.vscode/
.idea/
